@import "./variables";
@import "./mixins";

.studentPrograms {
  .program_section {
    margin-top: 25px;
    h3 {
      color: $darkgreen;
    }
  }
  .now_hiring {
    padding: 50px 2vw;
    background: $blue;
    text-align: center;
    color: white;
    font-family: $raleway-regular;
    h1 {
      margin-bottom: 25px;
    }
    p {
      font-size: 24px;
      color: $lightgreen;
      text-decoration: underline;
    }
    @include mQ(960px) {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 20px;
        color: $lightgreen;
        text-decoration: underline;
      }
    }
  }
  .studentPrograms_header_container {
    width: 100%;
    background-image: url("../public/studentPrograms_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .studentPrograms_header {
      display: flex;
      justify-content: center;
      width: 1200px;
      margin: auto;
      align-items: center;
      padding: 75px 0;
      @include mQ(1300px) {
        width: 94%;
      }
      @include mQ(960px) {
        display: block;
        padding: 50px 0;
        .studentPrograms_header_text {
          width: 100% !important;
          margin-left: 0 !important;
          text-align: center;
        }
        .studentPrograms_header_image {
          width: 400px !important;
          margin: auto;
        }
      }
      .studentPrograms_header_text {
        width: 55%;
        margin-left: 5%;
        .article_container {
          padding-bottom: 0;
          .article_section {
            width: 100%;
            h1 {
              margin-bottom: 10px;
              line-height: 1;
            }
          }
        }
      }
      .studentPrograms_header_image {
        position: relative;
        width: 40%;
        @include mQ(500px) {
          width: 94% !important;
        }
        img {
          width: 100%;
          position: relative;
          z-index: 1;
        }
        .square {
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $blue;
          transform: rotate(3deg);
        }
      }
    }
  }
  .studentPrograms {
    .studentPrograms_container {
      width: 1200px !important;
      margin: auto;
      @include mQ(1300px) {
        width: 94% !important;
        .article_container {
          .article_section {
            width: 94% !important;
          }
        }
      }
      .article_container {
        .article_section {
          width: 1200px;
        }
      }
    }
  }
  .studentPrograms_more {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
    @include mQ(1300px) {
      width: 94%;
    }
    @include mQ(960px) {
      display: block;
      padding: 25px 0;
      .article_container {
        width: 100% !important;
        .article_section {
          text-align: center;
        }
      }
      .studentPrograms_more_image {
        width: 400px !important;
        margin: auto;
      }
    }
    #studentPrograms_more_article {
      width: 100%;
      margin-left: 5%;
      .article_section {
        width: 100%;
      }
      @include mQ(960px) {
        margin-left: 0;
      }
    }
    .studentPrograms_more_image {
      position: relative;
      width: 60%;
      @include mQ(500px) {
        width: 94% !important;
      }
      img {
        width: 100%;
        position: relative;
        z-index: 1;
      }
      .square {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $darkgreen;
        transform: rotate(3deg);
      }
    }
  }
}